
@media screen and (min-width: 450px) {
    * {
        box-sizing: border-box;
    }


    body {
        display: flex;
        flex-direction: column;
        flex-direction: column;
        justify-content: center;
        margin: -100px 0 0 0;
        width: 100%;
        min-height: 100vh;
    }

    .wrapper {
        background: white;
        width: 100%;
    }

    #quote-box {
        max-width: 450px;
        display: inherit;
        align-items: center;
        margin: auto;
        padding: 50px;
    }

    .quote_content_wrapper {
        margin: auto;
    }

    #text {
        text-align: center;
    }

    #author {
        text-align: right;
    }

    .button_controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }

    button, img {
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        border: none;
    }

    button {
        background: none;
    }

    .quote_symbol {
        font-size: 40px;
    }


}

@media screen and (min-width: 550px) {
    body {
        max-width: 550px;
        margin: -100px auto 0;
    }
}