
@media screen and (min-width: 450px) {
    * {
        box-sizing: border-box;
        font-family: Grandstander, serif;
    }


    body {
        margin: auto;
        width: 100%;
        min-height: 100vh;
        transition: background 700ms linear;
    }

    #root {
        margin-top: 50px;
    }

    .quote_header {
        color: white;
        text-align: center;
    }

    .wrapper {
        background: white;
        width: 100%;
    }

    #quote-box {
        max-width: 450px;
        display: inherit;
        align-items: center;
        margin: auto;
        padding: 50px;
    }

    .quote_content_wrapper {
        margin: auto;
        transition: color 850ms linear, opacity 850ms linear;
        opacity: 1;
    }

    #text {
        text-align: center;
    }

    #author {
        text-align: right;
    }

    .button_controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }

    button, img {
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        border: none;
    }

    button {
        background: none;
    }

    .quote_symbol {
        font-size: 40px;
    }

    #new_quote, #tweet_quote {
        transition: box-shadow 300ms linear;
    }

    #new_quote:hover, #tweet_quote:hover {
        box-shadow: 0px 0px 2px 0px grey;
    }

}

@media screen and (min-width: 550px) {
    body {
        max-width: 550px;
        margin: auto;
    }
}